<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="border: 1px solid #666">
  <div data-wk="outer">
    <a href="#" data-wk="1111">test1</a>
    <a href="#" data-wk="2222">test2</a>

    <div>
      <div data-wk="test***">test***</div>
      <button data-wk='testbutton'>button</button>

    </div>
  </div>

  <% for (var jsIndex in htmlWebpackPlugin.files.js) { %>
    <script type="text/javascript" src="<%=htmlWebpackPlugin.files.js[jsIndex] %>"></script>
  <% } %>

  <script>
    console.log('enter...');
    MonitorGame
    .setServiceUrl('https://dd.mgame.360.cn/t/game/common')
    .setBaseLogData(function() {
      return {
        case_key: 'testProject',
        biz_plat: 'term',
        log_name: 'custom_event',
        log_src: 'client',
        time_str: MonitorGame.getCurrentTime()
      }
    })
    .getClickAndKeydown()
    .send({event_key: 'test'});
  </script>
</body>
</html>