<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div data-bk="outer">
    <a href="#" data-wk="1111">test1</a>
    <a href="#" data-wk="2222">test2</a>
  </div>

  <% for (var jsIndex in htmlWebpackPlugin.files.js) { %>
    <script type="text/javascript" src="<%=htmlWebpackPlugin.files.js[jsIndex] %>"></script>
  <% } %>

  <script>
    console.log('enter...');
    MonitorGame.Instance
    .setProjectId('testProject')
    .setServiceUrl('https://dd.mgame.360.cn/t/game/common')
    .getClickAndKeydown();
  </script>
</body>
</html>