<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div data-bk="outer">
    <a href="#" data-bk="1111">test1</a>
    <a href="#" data-bk="2222">test2</a>
  </div>

  <% for (var jsIndex in htmlWebpackPlugin.files.js) { %>
    <script type="text/javascript" src="<%=htmlWebpackPlugin.files.js[jsIndex] %>"></script>
  <% } %>

  <script>
    console.log('enter...');
    MonitorGame.Instance.setConf({
      trackUrl : 'http://s.360.cn/w360/s.htm',
      clickUrl : 'http://s.360.cn/w360/c.htm',
      clickHeatMapUrl: 'http://s.360.cn/w360/c.htm',
      wpoUrl : 'http://s.360.cn/w360/p.htm'
    }).getClickAndKeydown();
  </script>
</body>
</html>